<p id="notice"><%= notice %></p>

<p>
  <b>Recipe name:</b>
  <%= @recipe.recipe_name %>
</p>

<p>
	<% @rec_ing.each do |ingred|%>
	<ul>
		<li><%= @ingredients.at(ingred.ingredient_id - 1).ingredient_name %></li>
	</ul>
	<%end%>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>


