<% provide(:title,'Fridge Program') %>
<%= @ingredients %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />


<link rel="stylesheet" href="home.css" type="text/css" />
 <%= stylesheet_link_tag "home" %>
</head>
<body>
<body bgcolor = "black">
<body background="/assets/fridge-1.jpg">

<div class = 'border'>
<div class='heading'>

<center>
	<h2 style="color: white"> Welcome to the Fridge Program</h2>
</center>


</div>
</div>
<div class = 'border'>
<div class='content'>
<center>
 <h4> Here you will input what ingredients you have in your fridge.</h4> 
  The program will give you a recipe you can make!<br />
  
   <form name="input" method="get">
  	<br/>
Ingredients: <input type="text" name="ingredients">
 <br/>
 (Please seperate each ingredient with a comma.)
 <br/>
<input type="submit" value="Submit" >

</form>
<%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<%= submit_tag "Text" %>

<br/>
 <img src="/assets/electrolux-enl60710x-fridge-lr.jpg" width="300" height="650">
</center>
</div>
</div>
</body>
</html>