<%= form_tag("/search", :method => "get") do %>
	<table :title = "Ingredients">
		<tr>
			<th>Ingredients</th>
		</tr>
		<tr>
			<td><%= text_field_tag(:one) %></td>
		</tr>
		<tr>
			<td><%= text_field_tag(:two) %></td>
		</tr>
		<tr>
			<td><%= text_field_tag(:three) %></td>
		</tr>
		<tr>
			<td><%= text_field_tag(:four) %></td>
		</tr>
	</table>
	<%= submit_tag "Search", :name => nil %>
<%end%>
