<h1>Results</h1>
<body>
	<p>You entered: <%= @list.join(", ")%></p>
	<p>From that list <% if @ing_found.length > 1%>
		<%= @ing_found.join(", ")%> 
		were
		<%else%>
		<%= @ing_found.join(", ")%> was
		<%end%> found!
	</p>
	<p>You can make:
		<%= @found_rec_with_all.join(", ")%>
	</p>
	<p>
		<%=link_to "Back", :controller => "search_form", :action => "index" %>
	</p>

</body>
