<%= form_for(@ing_rec_join) do |f| %>
  <% if @ing_rec_join.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ing_rec_join.errors.count, "error") %> prohibited this ing_rec_join from being saved:</h2>

      <ul>
      <% @ing_rec_join.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe_id %><br />
    <%= f.number_field :recipe_id %>
  </div>
  <div class="field">
    <%= f.label :ingredient_id %><br />
    <%= f.number_field :ingredient_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
