<h1>Listing ing_rec_joins</h1>

<table>
  <tr>
    <th>Recipe</th>
    <th>Ingredient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ing_rec_joins.each do |ing_rec_join| %>
  <tr>
    <td><%= ing_rec_join.recipe_id %></td>
    <td><%= ing_rec_join.ingredient_id %></td>
    <td><%= link_to 'Show', ing_rec_join %></td>
    <td><%= link_to 'Edit', edit_ing_rec_join_path(ing_rec_join) %></td>
    <td><%= link_to 'Destroy', ing_rec_join, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ing rec join', new_ing_rec_join_path %>
